.center {
    /* display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center; */
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    padding: 30px;
    border-radius: 5px;
}

mat-form-field {
    width: 100%;
}

button {
    margin-right: 20px;
}