<!-- <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
</mat-form-field>
<br> -->
<h1 style="font-size:2vw">Choose your soaps attributes:</h1>
<br>
<mat-form-field appearance="fill">
    <mat-label>Shape</mat-label>
    <mat-select>
        <mat-option value="one">Regular Round</mat-option>
        <mat-option value="two">Regular Square</mat-option>
        <mat-option value="three">Cat</mat-option>
        <mat-option value="four">Flower</mat-option>
        <mat-option value="five">Cow</mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
    <mat-label>Scent</mat-label>
    <mat-select>
        <mat-option value="one">Lavender</mat-option>
        <mat-option value="two">Strawberry</mat-option>
        <mat-option value="three">Lemon</mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
    <mat-label>Size</mat-label>
    <mat-select>
        <mat-option value="one">Small</mat-option>
        <mat-option value="two">Medium</mat-option>
        <mat-option value="three">Large</mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
    <mat-label>Topping</mat-label>
    <mat-select>
        <mat-option value="one">Rose petals</mat-option>
        <mat-option value="two">Orange peels</mat-option>
        <mat-option value="three">Sprinkles</mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
    <mat-label>Specific Requests</mat-label>
    <textarea matInput></textarea>
</mat-form-field>
<br>
<button align="end" class="buy-btn" mat-flat-button color="accent">Order</button>
<!-- <div [@routerAnimations]="myOutlet.state">
    <router-outlet #myOutlet></router-outlet>
</div> -->