/* .title-container{
    display:flex;
    justify-content: space-between;
} */

.like-button{    
    border: none;
}

.buy-btn {
    width: 100%;
}

mat-card {
    width: inherit;
    height: inherit;
    box-sizing: border-box;
  }