<mat-toolbar>

  <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}>
    <span class="txtNav">Soapy</span>
  </a>

  <span class="example-spacer"></span>

  <a routerLink="/CustomSoap" routerLinkActive="active-link">
    <span class="txtNav"> Create your own soap</span>
  </a>

  <button routerLink="/SavedSoaps" mat-icon-button class="example-icon"
    aria-label="Example icon-button with share icon">
    <mat-icon>whatshot</mat-icon>
  </button>

  <button routerLink="/ShoppingCart" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon matBadge="{{getCartNbr()}}" matBadgeColor="accent">shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>