<mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile>
        <mat-card style="height: 100%;">
            <mat-card-content>
                <img style="width: 100%;" mat-card-image
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of Dogge" />
                <mat-card-title>Custom Soap</mat-card-title>
                <p>Wow make your own soap!</p>
                <p></p>
            </mat-card-content>
            <mat-card-actions>
                <button style="width: 100%" class="buy-btn" mat-flat-button color="accent">Make your
                    own soap!</button>
            </mat-card-actions>
        </mat-card> </mat-grid-tile>
    <mat-grid-tile *ngFor="let soap of soaps">
        <app-soap-item [soap]="soap" style="height: 100%;"></app-soap-item>
    </mat-grid-tile>
</mat-grid-list>