html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 800px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid pink;
    /* color: accent; */
    padding: 30px;
    border-radius: 5px;
  }

  .active-link {
    filter: opacity(50%);
  }